img, a:hover {
    cursor:url("pointer.png") 16 16, auto;
}
img{
    border: 2px solid black;
    border-radius: 8px;
    width: 700px;
}
body{
    color:rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
    font-size: 16px;
    cursor: url("cursor.png") 16 16, auto;
    background-image:url("background.png");
    background-repeat: repeat;
}
p, ul, ol, table {
    text-align: left;
    max-width: 700px;
    margin: 0 auto 1em auto;
    line-height: 1.5
}
table{
    color: white;
    background-color:black;
    width:60%;
    text-align: center;
    box-shadow: -10px 10px 5px white;
}

.comparison{
    width: 250px
}

.gif{
    width: 250px
}
.fish{
    width: 500px
}