img{
    border: 2px solid black;
    border-radius: 8px;
    width: 700px;
}
body{
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
    font-size: 16px;
}
p, ul, ol, table {
    text-align: left;
    max-width: 700px;
    margin: 0 auto 1em auto;
    line-height: 1.5
}